<div class="footer col-sm-12">
    <hr>

    <span>Todos os direitos reservados para <strong>₢ Ayslla Caroline Prates Gomes</strong></span>

    <div>
        <a rel="stylesheet" href="https://www.linkedin.com/in/ayslla-gomes/" target="_blank">
            <img class="logo" ngSrc="https://imagedelivery.net/ecl6S1RtG9d05bcNXhwCCQ/8dc1419c-4c1a-4b06-a5b1-e9bf8241c700/public" alt="LinkedIn" height="16"
                 width="16">
        </a>
    </div>
    <div>
        <a href="https://github.com/AysllaGomes" target="_blank">
            <img class="logo" ngSrc="https://imagedelivery.net/ecl6S1RtG9d05bcNXhwCCQ/2ffb95eb-6c1d-405d-c2fc-936d9a93b500/public" alt="GitHub" height="16"
                 width="16">
        </a>
    </div>
</div>
