<div class="footer col-sm-12">
    <hr>

    <span>Todos os direitos reservados para <strong>₢ Ayslla Caroline Prates Gomes</strong></span>

    <div>
        <a rel="stylesheet" href="https://www.linkedin.com/in/ayslla-gomes/" target="_blank">
            <img class="logo" ngSrc="../../../assets/images/logo/linkedin.svg" alt="LinkedIn" height="16"
                 width="16">
        </a>
    </div>
    <div>
        <a href="https://github.com/AysllaGomes" target="_blank">
            <img class="logo" ngSrc="../../../assets/images/logo/github.svg" alt="GitHub" height="16"
                 width="16">
        </a>
    </div>
</div>
