<div class="col-md-12">
    <div class="row">
        <div class="col-sm-3">
            <img [ngSrc]="photoUrl" alt="Foto de perfil" class="profile-photo" [width]="200" [height]="200">
        </div>

        <div class="col-sm-9 align-self-center">
            <h3 class="font18">{{ name }}</h3>
            <div class="contact-info">
                <p><strong>Celular:</strong> {{ phone }}</p>
                <p><strong>Email:</strong> {{ email }}</p>
                <p><strong>Endereço:</strong> {{ address }}</p>
            </div>
        </div>
    </div>
</div>
