<div *ngIf="canShow">
    <app-pages-navbar>
    </app-pages-navbar>
</div>

<div class="container">
    <div class="jumbotron">
        <div class="row">

                <h5>{{ academicEducation }}</h5>

                <hr>

<!--                        <ul>-->
<!--                            <li>-->
<!--                                <strong>2020</strong>-->
<!--                                <p>Tecnólogo em Análise e desenvolvimento de Sistemas | UNASP </p>-->
<!--                                <a href="https://drive.google.com/file/d/1A7KnwDanYCnOUUeU-NWJDLqjd1_bTyL1/view?usp=sharing">-->
<!--                                    <p>Scrum Foundation Professional Certificate (SFPC) | CertiProf</p>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <strong>2019</strong>-->
<!--                                <a href="https://drive.google.com/file/d/1Ra-WD7Kw_Qk3LSvelefWD6S2BCWQBtkg/view?usp=sharing">-->
<!--                                    <p>Imersão Chatbots para Whatsapp | QODA</p>-->
<!--                                </a>-->
<!--                                <a href="https://drive.google.com/file/d/1aRieOimWw9y7btEoncAKviehJ6Gu3fsf/view?usp=sharing">-->
<!--                                    <p>HACKAPÃO | UNASP</p>-->
<!--                                </a>-->
<!--                                <a href="https://drive.google.com/file/d/1e1_v-nxTV2HtmF8n2cmMB4jODGkXYUcX/view?usp=sharing">-->
<!--                                    <p>Segurança em Tecnologia da Informação | Fundação Bradesco</p>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <strong>2018</strong>-->
<!--                                <a href="https://drive.google.com/file/d/12DjRWIOetHH1mWPAWV0tf1xBrI0Na-Q0/view?usp=sharing">-->
<!--                                    <p>II Techweek do UNASP "O mundo das Startups" | UNASP</p>-->
<!--                                </a>-->

<!--                                <a href="https://drive.google.com/file/d/1QP4JcrS4o2YuwE1Op1ElP9GeXjs4Wd0e/view?usp=sharing">-->
<!--                                    <p>CASE | Abstartups</p>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->

<!--                                <strong>2016</strong>-->
<!--                                <a href="https://drive.google.com/file/d/10JuI2XZWyBwO4l-sompZYoz8xcwp_fT7/view?usp=sharing">-->
<!--                                    <p>Técnico em Rede de computadores | Instituto Federal De ciência e Tecnologia do-->
<!--                                        Tocantins</p>-->
<!--                                </a>-->

<!--                            </li>-->
<!--                        </ul>-->

            <div *ngIf="canShow">
                <app-pages-footer>
                </app-pages-footer>
            </div>
        </div>

    </div>
</div>
