<app-pages-navbar></app-pages-navbar>

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="header col-md-12">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-sm-12"><h3 class="font18">Ayslla Caroline Prates Gomes</h3></div>
                        <div class="cor col-sm-6">Celular: (61) 98207-882218</div>
                        <div class="cor col-sm-6">Email: ayslla.gomes&#64;outlook.com</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <hr>
                <div class="conteudo col-sm-8">
                    <div class="col-sm-12">
                        <h5>{{ resume }}</h5>

                        <hr>

                        <p class="recuo">
                            {{ about }}
                        </p>
                    </div>

                    <div class="col-sm-12">
                        <h5>Experiência Profissional</h5>
                        <hr>
                        <ul>
                            <li><a href="https://www.wipro.com/pt-BR/overview/"><strong>Wipro, Projeto Itaú – São Paulo
                                SP</strong></a></li>
                            <p>Cargo: Analista de Sitemas JR</p>
                            <p>Set/2020 – atual Emprego</p>

                            <li><a href="https://resourceit.com/pt/"><strong>Qintess, Projeto Santander – São Paulo
                                SP</strong></a>
                            </li>
                            <p>Cargo: Assistente técnico</p>
                            <p>Nov/2019 – Set/2020</p>

                            <li><a href="https://resourceit.com/pt/"><strong>Qintess, Projeto Ativa investimentos – São
                                Paulo
                                SP</strong></a></li>
                            <p>Cargo: Estagiário</p>
                            <p>Mai/2019 – Nov/2019</p>

                            <li><strong><a href="https://www.unasp.br/sp/">Centro Universitário Adventista de São Paulo
                                – São Paulo
                                SP</a></strong></li>
                            <p>Cargo: Assistente técnico</p>
                            <p>Jan/2018 – Jul/2019</p>
                        </ul>
                    </div>

                    <div class="col-sm-12">
                        <h5>Educação e formação</h5>

                        <hr>

                        <ul>
                            <li>
                                <strong>2020</strong>
                                <p>Tecnólogo em Análise e desenvolvimento de Sistemas | UNASP </p>
                                <a href="https://drive.google.com/file/d/1A7KnwDanYCnOUUeU-NWJDLqjd1_bTyL1/view?usp=sharing">
                                    <p>Scrum Foundation Professional Certificate (SFPC) | CertiProf</p>
                                </a>
                            </li>
                            <li>
                                <strong>2019</strong>
                                <a href="https://drive.google.com/file/d/1Ra-WD7Kw_Qk3LSvelefWD6S2BCWQBtkg/view?usp=sharing">
                                    <p>Imersão Chatbots para Whatsapp | QODA</p>
                                </a>
                                <a href="https://drive.google.com/file/d/1aRieOimWw9y7btEoncAKviehJ6Gu3fsf/view?usp=sharing">
                                    <p>HACKAPÃO | UNASP</p>
                                </a>
                                <a href="https://drive.google.com/file/d/1e1_v-nxTV2HtmF8n2cmMB4jODGkXYUcX/view?usp=sharing">
                                    <p>Segurança em Tecnologia da Informação | Fundação Bradesco</p>
                                </a>
                            </li>
                            <li>
                                <strong>2018</strong>
                                <a href="https://drive.google.com/file/d/12DjRWIOetHH1mWPAWV0tf1xBrI0Na-Q0/view?usp=sharing">
                                    <p>II Techweek do UNASP "O mundo das Startups" | UNASP</p>
                                </a>

                                <a href="https://drive.google.com/file/d/1QP4JcrS4o2YuwE1Op1ElP9GeXjs4Wd0e/view?usp=sharing">
                                    <p>CASE | Abstartups</p>
                                </a>
                            </li>
                            <li>

                                <strong>2016</strong>
                                <a href="https://drive.google.com/file/d/10JuI2XZWyBwO4l-sompZYoz8xcwp_fT7/view?usp=sharing">
                                    <p>Técnico em Rede de computadores | Instituto Federal De ciência e Tecnologia do
                                        Tocantins</p>
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>

                <div class="lateral col-sm-4">
                    <div class="col-sm-12">
                        <h5>Competências Profissionais</h5>
                        <hr>
                        <ul class="semponto">
                            <p>{{ front }}</p>

                            <li>Angular 2+</li>
                            <li>Angular JS</li>
                            <li>React</li>
                            <li>Vue.js</li>

                            <p style="margin-bottom: 16px; margin-top: 20px;">{{ back }}</p>

                            <li>Java</li>
                            <li>PHP</li>
                            <li>Node.js</li>
                            <li>C#</li>
                            <li>Kotlin</li>
                            <li>Ionic</li>
                            <li>Swift</li>

                            <p style="margin-bottom: 16px; margin-top: 20px;">{{ database }}</p>

                            <li>MongoDB</li>
                            <li>MySQL</li>
                            <li>PostgreSQL</li>
                            <li>PostgreSQL</li>
                            <li>Oracle Database</li>
                            <li>Microsoft SQL Server</li>
                        </ul>
                    </div>
                    <div class="col-sm-12">
                        <h5>Idiomas</h5>
                        <hr>
                        <ul>
                            <li>Português (Nativo)</li>
                            <li>Inglês (Intermediário)</li>
                        </ul>
                    </div>

                </div>
            </div>

            <app-pages-footer></app-pages-footer>

        </div>
    </div>
</div>
