.container {
    margin-top: 20px;
}

.jumbotron {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
}

.header {
    margin-bottom: 20px;
}

.font18 {
    font-size: 18px;
}

.contact-info {
    font-size: 14px;
}

.main-content {
    margin-bottom: 20px;
}

.recuo {
    text-indent:4em;
    margin-top: 10px;
    text-align: justify;
}

.sidebar {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}
