.experiences-container {
    background-color: #f2f2f2; /* Cor de fundo cinza */
    padding: 20px; /* Adiciona espaço interno */
    border-radius: 10px; /* Adiciona bordas arredondadas */
    margin-bottom: 20px; /* Adiciona espaço entre o contêiner e outros elementos */
}

.experience {
    margin-bottom: 20px; /* Adiciona espaço entre cada experiência */
}

.logo {
    max-width: 100%; /* Garante que a largura da imagem não exceda o container */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 5px; /* Adiciona uma borda arredondada à imagem */
}

.company {
    margin-top: 10px; /* Adiciona espaço entre o nome da empresa e a imagem */
}

.date {
    font-style: italic; /* Deixa a data em itálico */
    color: #888; /* Cor cinza para a data */
}

.position {
    margin-top: 10px; /* Adiciona espaço entre o cargo e a data */
}
