<h5>{{ specialization }}</h5>

<hr>

<div *ngIf="certifications.length > 0">
    <div *ngFor="let yearGroup of groupedCertifications">
        <h6>{{ yearGroup.year }}</h6>
        <ul>
            <li *ngFor="let certification of yearGroup.certifications">
                <p><strong>{{ certification.provider }}</strong></p>
                <p>{{ certification.title }}</p>
                <a target="_blank" [href]="certification.url">Detalhes</a>
            </li>
        </ul>
    </div>
</div>

<div *ngIf="certifications.length === 0">
    <p>Nenhuma especialização encontrada.</p>
</div>
