<div class="col-sm-12">
    <h5 class="section-title">{{ certification }}</h5>

    <hr>

    <ul class="certification-list">
        <li *ngFor="let yearGroup of certifications" class="timeline-item">
            <h6>{{ yearGroup.year }}</h6>
            <ul>
                <li *ngFor="let certification of certifications" class="certification-item">
                    <p><strong>{{ certification.provider }}</strong></p>
                    <p>{{ certification.title }}</p>
                    <a target="_blank" [href]="certification.url">Detalhes</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
